.window {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.window div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.window ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 40px;
}
img.netImg {
    filter: grayscale(1);
    transition: filter .5s ease;
    cursor: pointer;
}
img.netImg:hover {
    filter: grayscale(0);
}