.window {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: start;
}
.news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}