.window {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.window nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.window nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 30px;
    list-style: none;
}
.logo {
    color: #fff;
}